.botaoPesquisaFamilia {
    background-color: #e3436b;
    border-color: #81233b;
    margin: 5px;
    width: 150px;
}

.cadastroFamilia {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

}

.titulo-alert {
    font-size: 2rem;
    margin-bottom: 0;
}


.input {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.input:active {
    transform: scale(0.99);
}

.input:focus {
    border: 2px solid grey;
}