body, html {
    margin-top: 30px;
    padding: 0;
    height: 100%;
    width: 100%;
}

.app-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./componentes/imagens/sosFundo.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    background-attachment: fixed; /* Fixa a imagem de fundo */
    min-height: 100vh; /* Garante que o layout ocupe toda a altura da tela */
}